<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.accherniakocich.android.freecourier">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.accherniakocich.android.freecourier"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activityes.Registration"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activityes.StartActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activityes.Log_In"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activityes.MainListAdsAndCourier"
            android:label="@string/courier_en"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activityes.ActivitiesInNavMenu.PrivateRoomCourier"
            android:theme="@style/MyActionBar" />
        <activity
            android:name=".Activityes.ActivitiesInNavMenu.PrivateRoomUser"
            android:theme="@style/MyActionBar" />
        <activity
            android:name=".Activityes.ActivitiesInNavMenu.EditDataAboutCourierAndUsersMode"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog"></activity>
        <activity android:name=".Activityes.AddAd"
            android:theme="@style/MyActionBar"></activity>
    </application>

</manifest>